<form id="user-register" enctype="multipart/form-data" method="post">
    <% if (typeof formBuilder != 'undefined') { %>
        <% for (var f in formBuilder) { %>
            <div class="form-item-wrapper form-<%= formBuilder[f].type %>-wrapper<% if (formBuilder[f].wrapperClasses) { %> <%= formBuilder[f].wrapperClasses.join(' ') %><% } %>">
                <% if (formBuilder[f].type == 'textfield') { %>
                    <!-- textfield -->
                    <div class="label-wrapper">
                        <label for="<%= f %>"><%= formBuilder[f].label %></label>
                        <span class="form-item-help"><%= formBuilder[f].help %></span>
                    </div>
                    <input class="textfield<% if (formBuilder[f].geocode) { %> geocode<% } %>" type="text" name="<%= f %>" id="<%= f %>" size="<%= formBuilder[f].size %>" <% if (typeof form != 'undefined') { if (form.fields) { if  (form.fields[f]) { %>value="<%= form.fields[f] %>"<% } } } %> />
                <% } %>
                
                <% if (formBuilder[f].type == 'password') { %>
                    <!-- password -->
                    <div class="label-wrapper">
                        <label for="<%= f %>"><%= formBuilder[f].label %></label>
                        <span class="form-item-help"><%= formBuilder[f].help %></span>
                    </div>
                    <input class="password<% if (formBuilder[f].geocode) { %> geocode<% } %>" type="password" name="<%= f %>" id="<%= f %>" size="<%= formBuilder[f].size %>" <% if (typeof form != 'undefined') { if (form.fields) { if  (form.fields[f]) { %>value="<%= form.fields[f] %>"<% } } } %> />
                <% } %>
                
                <% if (formBuilder[f].type == 'submit') { %>
                    <!-- button -->
                    <div class="form-item-wrapper form-submit-wrapper">
                        <input class="submit" type="submit" name="<%= f %>" id="<%= f %>" value="<%= formBuilder[f].value %>" />
                    </div>
                <% } %>
            
            </div>
        <% } %>
    <% } %>
</form>