<div class="home-slider clearfix">
    <a class="slider-move totheleft" href="#">&nbsp;</a>
    <div id="slide-wrapper">
    <ul id="slide-list">
        <% for (project_index in projects) { 
                project = projects[project_index]; %>
        <li>
            <div class="slider-image">
                <a href="/projects/<%= project._id %>">
                    <img src="http://<%= dbHost %>:<%= dbPort %>/projects/<%= project._id %>/project-image" width="200px" height="200px" />
                    <span class="slider-image-description"><%= project.title %></span>
                </a>
            </div>
        </li>
        <% } %>
    </ul>
    </div>
    <a class="slider-move totheright" href="#">&nbsp;</a>
</div>