<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= siteName %></title>
    <script type="text/javascript" src="/js/libs/jquery-1.6.min.js"></script>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <% if (alphaPopup != 'undefined') { %>
        <link rel="stylesheet" href="/js/libs/fancybox/jquery.fancybox-1.3.4.css" />
    <% } %>
</head>

<body class="<%= bodyClasses.join(' ') %>">
    <%- partial('partials/partial.general-messages.ejs') %>
    
    <div id="header">
        <div class="wrapper">
            <a id="title" class="left" href="/"><img src="/images/cityhero_logo.png" alt="<%= siteName %>"></a> <span class="beta-tag">pre-alpha</span>
            <!--
            <div id="search-link" class="right nav-links">
                <img src="/images/search-icon.png" id="search-link" alt="Search" />
            </div>
            <div id="search-input" class="right">
                <input type="input" id="search-input" class="right" value="Search..."/>
            </div>
            <div id="user-links" class="nav-links right">
                <a href="#">Sign Up</a> | 
                <a href="#">Log In</a>
            </div>
            <div id="proj-links" class="nav-links left">
                <a href="#">Projects</a> | 
                <a href="#">Recipes</a>
            </div>
            -->
            <div id="user-links" class="nav-links right">
                <a href="<%= session.actionHref %>"><%= session.actionTitle %></a> |
                <% if (typeof session.user != 'undefined' && typeof session.user._id != 'undefined') { %>
                    <a href="/profile/<%= session.user.username %>">Profile</a>
                <% } else { %>
                    <a href="/user/register">Register</a>
                <% } %>
            </div>
        </div>
    </div>
    
    <% if (typeof editable != 'undefined' && editable) { %>
        <form id="<%= editable.id || 'user-register' %>" action="<%= editable.action %>" enctype="multipart/form-data" method="post">
    <% } %>
    
    <div class="wrapper">
        
        <div class="title-main">
            <% if (typeof pageTitle === 'object') { %>
                <%- partial(pageTitle) %>
            <% } else { %>
                <h1><%= pageTitle %></h1>
            <% } %>
                
            <!-- Render header partials -->
            <% if (typeof titleContent != 'undefined') { %>
                <div class="title-content">
                    <% for (titleContentIndex in titleContent) { %>
                        <%- partial(titleContent[titleContentIndex]) %>
                    <% } %>
                </div>
            <% } %>
        </div>
        
        <div id="content">
            <div class="content-inner">
                
                <!-- Render sidebar partials -->
                <% if (typeof sidebarInnerContent != 'undefined') { %>
                    <div class="content-sidebar">
                        <% for (sidebarInnerContentIndex in sidebarInnerContent) { %>
                            <%- partial(sidebarInnerContent[sidebarInnerContentIndex]) %>
                        <% } %>
                    </div>
                <% } %>
                
                <!-- Render main content -->
                <% if (typeof contentMain != 'undefined') { %>
                    <div class="content-main">
                        <% for (contentMainIndex in contentMain) { %>
                            <%- partial(contentMain[contentMainIndex]) %>
                        <% } %>
                    </div>
                <% } %>
                
            </div>
        </div>
        
        <div id="sidebar">
            <div class="sidebar-inner">
            
                <!-- Render sidebar content -->
                <% if (typeof sidebarContent != 'undefined') { %>
                    <div class="content-main">
                        <% for (sidebarContentIndex in sidebarContent) { %>
                            <%- partial(sidebarContent[sidebarContentIndex]) %>
                        <% } %>
                    </div>
                <% } %>
                
            </div>
        </div>
        
        <div id="footer">
            <!--
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            -->
            <p><span>Created as Open Source by </span><a href="#">Code for America</a><br />
            &quot;For a more transparent, efficient, and participatory future.&quot;</p>
            <a href="http://codeforamerica.org" class="footer-logo"><img src="/images/cfa-full-logo.png"></img></a>
        </div>
        
        <% if (alphaPopup != 'undefined') { %>
            <a id="open-alpha-popup" class="alpha-popup" href="#alpha-popup-container" title="This is alpha!"></a>
            <div id="alpha-popup-container" class="alpha-popup">
                <h3>This site is Alpha!</h3>
                <p>What does that mean?  It means that we are working very hard to make this site awesome!  And there may be parts that might not function correctly and things may change frequently.  It also means that data may not be accurate.</p>
                <p>We invite you to test out City Hero and kick the tires, but please <strong>be patient with us</strong> if the car breaks down.  Feel free to use the <strong>Feedback button</strong> on the left to let us know about ideas, issues, or comments you have.</p>
                
                <a href="http://codeforamerica.org" class="footer-logo"><img src="/images/cfa-full-logo.png" width="100px"></img></a>
            </div>
        <% } %>
        
        <!-- Scripts -->
        <script type="text/javascript" src="/js/libs/jquery-ui-1.8.13.custom.min.js"></script>
        <script type="text/javascript" src="/js/libs/json2.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&region=US"></script> 
        
        <% if (alphaPopup != 'undefined') { %>
            <script type="text/javascript" src="/js/libs/fancybox/jquery.easing-1.3.pack.js"></script>
            <script type="text/javascript" src="/js/libs/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
            <script type="text/javascript" src="/js/libs/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
            <script>
                (function($) {
                    $(document).ready(function() {
                            // Check cookies
                            if (cookieHandler.getCookie('alpha_popup') != 'true') {
                                $('#open-alpha-popup').fancybox({
                                    'type': 'inline'
                                }).click();
                                cookieHandler.setCookie('alpha_popup', 'true', 7);   
                            }
                        });
                })(jQuery);
            </script>
        <% } %>
        
        <% for (scriptIndex in scripts) { %>
            <script type="text/javascript" src="<%- scripts[scriptIndex] %>"></script>
        <% } %>
        
        <% if (typeof feedback != 'undefined') { %>
            <script type="text/javascript" charset="utf-8">
                var is_ssl = ("https:" == document.location.protocol);
                var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
                document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
                
            <script type="text/javascript" charset="utf-8">
                var feedback_widget_options = {};
                
                feedback_widget_options.display = "overlay";  
                feedback_widget_options.company = "code_for_america";
                feedback_widget_options.placement = "left";
                feedback_widget_options.color = "#222";
                feedback_widget_options.style = "idea";
                feedback_widget_options.product = "code_for_america_city_hero";
                feedback_widget_options.limit = "3";
                var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
            </script>
        <% } %>
    </div>
    
    <% if (typeof editable != 'undefined' && editable) { %>
        </form>
    <% } %>
</body>
</html>
