<div class="project_description">
    <% if (project._attachments && project._attachments['project-image']) { %>
    <img class="project_image" src="http://<%= auth.db.host %>:<%= auth.db.port %>/projects/<%= project._id %>/project-image" />
    <% } else { %>
    (No project image provided)
    <% } %>
                
    <div class="social_bar">
        <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" send="false" width="450" show_faces="true" font=""></fb:like>
    </div>
    
    <div class="project_text">
        <div class="project_overview">
            <header>
                <h1>About This Project</h1>
            </header>
            <p><%= project.description %></p>
        </div>
        
        <div class="project_recipe">
            <header>
                <h1>How to dolor sit amet, consectetur adipiscing</h1>
                <h2>by <a href="#">FAQ Robot</a></h2>
            </header>
            <!--p><%= project.description %></p-->
            <ol class="recipe_steps">
                <li>
                    <p>Proin eget justo quis lectus laoreet dapibus. </p>
                </li>
                <li>
                    <p>Fusce libero enim, fermentum vitae placerat non, sodales a nunc. Suspendisse nec leo id purus sollicitudin suscipit</p>
                </li>
                <li>
                    <p>Aliquam ullamcorper est vel tortor tincidunt at venenatis urna vestibulum <a href="#">Suspendisse Nec Leo id Purus</a>.</p>
                    <p>Cras consectetur turpis sed odio hendrerit sollicitudin. Integer euismod, tellus sed ultrices mattis, elit magna gravida ipsum, a ornare ligula tellus ut enim. Aliquam mattis, nisi eget dapibus ultricies, mi arcu suscipit lorem, at ornare mi lacus eget eros.</p>
                    <p>Suspendisse in orci massa. Curabitur at nulla ut sapien elementum sollicitudin sit amet eget libero. Ut malesuada magna at nibh dapibus convallis. </p>
                    <p>Curabitur nisi velit, <a href="#">sodales fringilla porta ac</a>, sagittis id nunc. Aenean ac venenatis tellus. Etiam nec leo turpis. Nullam pellentesque est id neque tincidunt nec tempor quam semper. </p>
                    <p>Ut ante mauris, aliquam et porta eu, posuere eget ipsum. Praesent a lorem nisi, vel lacinia felis. Nullam id bibendum ante. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p>Morbi eu eros tellus. Curabitur viverra porttitor orci, ultrices posuere risus convallis sit amet. Nam urna erat, venenatis ut fermentum at, ultrices ut diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus porttitor semper fermentum.</p>
                    <!--p>If you are an individual, you can make an agreement with San Francisco to clean up your street. Merchant and neighborhood associations can also make an agreement with San Francisco to clean up a street.</p>
                    <p>(If you are having trouble finding volunteers or other partners, contact an organization like A Good Idea - <a href="http://agoodideasf.org/">http://agoodideasf.org</a>. They may be able to connect you with willing volunteers.)</p>
                    <p>The Department of Public Works will provide supplies for you (e.g., brooms, rakes, bags, gloves).</p>
                    <p>To sign up for the Adopt-A-Street program, email <a href="mailto:volunteer@sfdpw.org">volunteer@sfdpw.org</a> or fill out this form: <a href="http://38.106.4.205/ftp/uploadedfiles/sfdpw/director/Adopt_a_Street_(application_only).pdf">http://38.106.4.205/ftp/uploadedfiles/sfdpw/director/Adopt_a_Street_(application_only).pdf</a></p>
                    <p>Send your application form to:<br />2323 Cesar Chavez Street<br />San Francisco, CA 94124-1091</p -->
                </li>
                <li>
                    <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas dapibus turpis nec elit accumsan sit amet consequat nunc lobortis.</p>
                </li>
            </ol>
        </div -->
        
        <div class="helpful_questions">
            <header>
                <h1>Questions that were helpful to this project</h1>
            </header>
            <ul>
                <li><a href="#">How do I dispose of the trash and leaves?</a></li>
                <li><a href="#">What supplies and support will the city provide?</a></li>
                <li><a href="#">Can I do more than just pick up litter??</a></li>
            </ul>
        </div>
        
        <div class="project_ingredients">
            <header>
                <h1>Ingredients used in this project</h1>
            </header>
            <ul>
                <li>San Francisco’s <a href="http://www.sfdpw.org/index.aspx?page=1229">Adopt-A-Street Program</a></li>
            </ul>
        </div>
    </div>
</div>
