<% if ((user._attachments && user._attachments['profile_image']) || editable) { %>
    <div class="profile-image-container">
        <% if (editable) { %><a href="#step-1" class="step-link-inline">Edit</a><% } %>

        <% if (user._attachments && user._attachments['profile_image']) { %>
            <img class="profile-image" src="http://<%= auth.db.host %>:<%= auth.db.port %>/users/<%= user._id %>/profile_image" />
        <% } %>

        <% if (editable) { %>
            <div class="step-editable step-1-editable">
                <%- partial('partials/partial.form-builder.ejs', {formBuilder: steps[1].form, cancelFormWrapper: true}) %>
            </div>
        <% } %>
    </div>
<% } %>

<% if (user.profile_bio || editable) { %>
    <div class="profile-bio">
        <% if (editable) { %><a href="#step-2" class="step-link-inline">Edit</a><% } %>
        <h2>Bio</h2>
        <p><%= (user.profile_bio) ? user.profile_bio : '' %></p>
        
        <% if (editable) { %>
            <div class="step-editable step-2-editable">
                <%- partial('partials/partial.form-builder.ejs', {formBuilder: steps[2].form, cancelFormWrapper: true}) %>
            </div>
        <% } %>
    </div>
<% } %>


    <div class="project_text profile-motto">
        <div class="project_overview">
            <header class="clearfix">
                <% if (editable) { %><a href="#step-4" class="step-link-inline">Edit</a><% } %>
            
                <h1>Motto</h1>
                <p><%= (user.profile_motto) ? user.profile_motto : '' %></p>

                <% if (editable) { %>
                    <div class="step-editable step-4-editable">
                        <%- partial('partials/partial.form-builder.ejs', {formBuilder: steps[4].form, cancelFormWrapper: true}) %>
                    </div>
                <% } %>
            </header>
        </div>
    </div>


<% if (typeof projectsOwned == 'object') { %>
    <div class="projects-owned clearfix">
        <h3>Projects Owned</h3>
        <% for (var i in projectsOwned) { %>
            <div class="project_block">
                <a href="/projects/<%= projectsOwned[i].value.slug %>">
                    <% if (typeof projectsOwned[i].value._attachments != 'undefined') { %>
                        <img src="http://<%= auth.db.host %>:<%= auth.db.port %>/projects/<%= projectsOwned[i].value._id %>/project-image" width="200" height="200" />
                    <% } else if (projectsOwned[i].value.youtube_id) { %>
                        <img width="200" height="200" src="http://img.youtube.com/vi/<%= projectsOwned[i].value.youtube_id %>/default.jpg" frameborder="0" allowfullscreen></iframe>
                    <% } else { %>
                        <img src="/images/no-image.gif" width="200" height="200" />
                    <% } %>
                    <span class="project_block_title"><%= projectsOwned[i].value.title %></span>
                </a>
            </div>
        <% } %>
    </div>
<% } %>

<% if (typeof projectsSupported == 'object') { %>
    <div class="projects-supported clearfix">
        <h3>Supported Projects</h3>  
        <% for (var i in projectsSupported) { %>
            <div class="project_block">
                <a href="/projects/<%= projectsSupported[i].value.slug %>">
                    <% if (typeof projectsSupported[i].value._attachments != 'undefined') { %>
                        <img src="http://<%= auth.db.host %>:<%= auth.db.port %>/projects/<%= projectsSupported[i].value._id %>/project-image" width="200" height="200" />
                    <% } else { %>
                        <img src="/images/no-image.gif" width="200" height="200" />
                    <% } %>
                    <span class="project_block_title"><%= projectsSupported[i].value.title %></span>
                </a>
            </div>
        <% } %>      
    </div>
<% } %>

<% if (typeof editable != 'undefined' && editable) { %>
    <div class="button-floater">
        <ul class="edit-controls">
            <li><input type="submit" value="save your profile" /></li>
            <li><a href="/profile/<%= session.user.username %>">Cancel editing</a></li>
        </ul>
        <div class="action-help">
            Once you are done editing, make sure to press <strong>save your profile</strong> above.  If you press <strong>cancel editing</strong>, none of your changes will be saved.
        </div>
    </div>
<% } %>
