
<% if ((session.user._attachments && session.user._attachments['profile_image']) || editable) { %>
    <% if (session.user._attachments && session.user._attachments['profile_image']) { %>
        <img class="profile-image" src="http://<%= auth.db.host %>:<%= auth.db.port %>/users/<%= session.user._id %>/profile_image" />
    <% } %>
<% } %>

<% if (session.user.bio || editable) { %>
    <div class="profile-bio">
        <% if (session.user.bio) { %>
            <%= session.user.bio %>
        <% } else { %>
            Add a bio.
        <% } %>
    </div>
<% } %>

<% if (session.user.motto || editable) { %>
    <div class="project_text">
        <div class="project_overview">
            <header>
                <% if (editable) { %><a href="#step-5" class="step-link-inline">Edit</a><% } %>
            
                <h1>Motto</h1>
                <%= (session.user.motto) ? session.user.motto : '' %>

                <% if (editable) { %>
                    <div class="step-editable step-5-editable">
                        <%- partial('partials/partial.form-builder.ejs', {formBuilder: steps[5].form}) %>
                    </div>
                <% } %>
            </header>
        </div>
    </div>
<% } %>

<div class="projects-owned">
    <h3>Projects Owned</h3>
</div>

<div class="projects-suggested">
    <h3>Suggested Projects</h3>
</div>

<% if (typeof editable != 'undefined' && editable) { %>
    <div class="button-floater">
        <ul class="edit-controls">
            <li><input type="submit" value="save your profile" /></li>
            <li><a href="/profile/<%= session.user.username %>">Finished editing</a></li>
        </ul>
    </div>
<% } %>